@font-face{
    font-family: open;
    src: url(/src/assets/fonts/Open_Sans/static/OpenSans-Medium.ttf);
}


.main-title {
    font-family: open;
    font-size: 25px;
    line-height: 34px;
    color: white;
    width: 400px;
    margin-top: 45px;
    text-align: center;
}

.span-day {
    font-family: open;

    font-size: 25px;
    color: #8758FF;
}

.toggleText {
    font-size: 15px;
    font-family: open;
    color: #ffffff;
}

@media screen and (max-width: 376px) {
    .toggleText {
     font-size: 13px;   
    }
}