.ContainerToggle {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #6C45CE;
    height: 62px;
    width: 75%;
    margin-top: 25px;
    border-radius: 8px;
    padding: 10px;
    /* border: 1px solid red; */
}

@media screen and (max-width: 376px) {
    .ContainerToggle {
        width: 45%;
    }
}
