.main-input {
    background-color: transparent;
    text-align: right;
    color: #FCFCFC;
    border: none;
    outline: none;
}

.container-input {
    display: flex;
    border: 1.5px solid #FCFCFC;
    border-radius: 8px;
    width: 210px;
    height: 40px;
    margin-top: 30px;
    padding-right: 0px;
    gap: 0px;
}

.check-input {
    appearance: none;
    width: 30px;
    height: 30px;
    background-color: rgba(189, 164, 255, 1);
    border-radius: 3px;
}



.check-input:checked {
    background-color: #1E123B;
}

@media screen and (max-width: 376px) {
    .check-input {
        width: 20px;
        height: 20px;
    }
}